input[type='text'] {
  flex: 1;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-weight: bold; /* Встановлюємо текст жирним */
  margin-right: 1rem;
  color: #ccc;
  background-color: #2f2f5a;
}

button[type='submit'] {
  padding: 0.5rem 1rem;
  background-color: #646cff;
  color: #fff;
  /* border: none; */
  /* border: 1px solid #646cff; */
  border-radius: 4px;
  cursor: pointer;
}
input[type='text']:hover {
  transform: scale(1.015);
  background-color: #393963;
  border-radius: 6px;
}
input[type='text']:focus {
  border-color: #646cff;
  outline: none;
}
button[type='submit']:hover {
  border: 1px solid #d8d8d9;
  outline: none;
}
